

.main_{
  position: relative;
  display: block;
  width: 100%;
  min-height: 100vh;
  padding-top: 12.5vh;
}

.title_wrapper{
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 2.5vw;
  align-items: center;
  justify-content: space-between;

  p,h1{
    position: relative;
    display: block;
    margin: 0;
    line-height: 1.75;
  }

  p{
    font-size: 1.2vw;
    font-weight: 400;
  }

  h1{
    color: var(--primary-color);
    font-size: 3.5vw;
  }

}

.user_list_wrapper{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  .item_{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    background: #101010;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #101010;
    overflow: hidden;

    &:hover{
      border-color: var(--primary-color);
    }

    .tags_wrap{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0.5em;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .tag_{
        position: relative;
        display: block;
        font-size: 0.75vw;
        font-weight: 500;
        padding: 0.25em 1em;
        color: #fff;
        border-radius: 0.25em;

        &.valid_{
          background-color: #1aad21;
        }

        &.invalid_{
          background-color: #e24410;
        }

      }

    }

    .top_{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2.5em 0 1em;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0000;
        height: calc(50% + 0.75em);
        background-color: rgb(27 27 27);
      }

      .image_{
        position: relative;
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
        border: 10px solid #101010;
        overflow: hidden;

        img{
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

      }

    }

    .content_{
      position: relative;
      display: block;
      padding: 0 1.25em 1.25em;
      text-align: center;

      h4{
        position: relative;
        display: block;
        margin: 0;
        font-size: 1.1vw;
      }

      p{
        position: relative;
        display: block;
        margin: 0;
        line-height: 1.75;
        font-size: 0.9vw;
      }
    }
  }
}

.btn_{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--bg-color);
  background-color: var(--primary-color);
  padding: 0.75em 1.5em;
  border-radius: 0.25em;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover, &:focus{
    background-color: var(--text-color);
  }

}

.modal_{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay_{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: var(--bg-color);
  }

  .content_{
    position: relative;
    display: block;
    padding: 20px;
    border-radius: 0.75em;
    background-color: #101010;
    width: 560px;

    .inner_{
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1.25em;

      .image_wrap{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1em;

        .img_{
          position: relative;
          display: block;
          width: 150px;
          height: 150px;
          background-color: var(--bg-color);
          border-radius: 50%;
          overflow: hidden;
          
          img{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }
        }

      }

      .desc_{
        position: relative;
        display: block;
        width: 100%;

        .title_{
          position: relative;
          display: block;
          width: 100%;
          text-align: center;

          h4{
            position: relative;
            display: block;
            margin: 0;
            font-size: 1.25vw;
          }
    
          p{
            position: relative;
            display: block;
            margin: 0;
            line-height: 1.75;
            font-size: 0.9vw;
          }

        }
      }

      .desc_list{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 25px;
        margin-bottom: 25px;

        li{
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          background-color: #212121;
          padding: 8px 15px;
          border-radius: 6px;

          span{
            position: relative;
            display: block;
            font-size: 12px;
            line-height: 20px;
          }

          strong{
            position: relative;
            display: block;
            font-size: 15px;
          }

          &.valid_{
            background-color: #1aad21;
          }
  
          &.invalid_{
            background-color: #e24410;
          }

          &.flex_{
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &.full_row{
            grid-row: span 2;
          }
        }

      }

      .barcode_{
        position: relative;
        display: block;
        width: 100%;

        img{
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          background-color: #fff;
        }
      }
    }
  }

  .close_{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: #212121;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
      background-color: #3a3a3a;
    }

    &:before, &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15px;
      height: 2px;
      background-color: var(--text-color);
    }

    &:before{
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    &:after{
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

  }

}

.alert_{
  position: relative;
  display: block;
  text-align: center;
  grid-column: 1/ -1;
  padding: 0.5em 1em;
  background-color: #101010;
  border-radius: 0.5rem;
}

.form_{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;

  .list_{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;

    li{
      position: relative;
      display: block;
      margin-inline-end: 2em;

      span{
        position: relative;
        display: block;
        padding-inline-start: 30px;
        pointer-events: none;

        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: var(--text-color);
        }

        &:after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: var(--primar-color);
          transform-origin: center;
          transform: scale(0);
        }

      }


      input[type=radio]{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        margin: 0;


        &:checked{
         &~span{
          &:after{
            transform: scale(1);
          }
         }
        }

      }

     
    }

  }

  .input_{
    position: relative;
    display: block;
    width: 100%;

    &.full_{
      grid-column: 1/-1;
    }

    label{
      position: relative;
      display: block;
      font-weight: 500;
      font-size: 1vw;
      opacity: 0.75;
      margin: 0 0 0.75em;
    }

    input{
      position: relative;
      display: block;
      width: 100%;
      height:3rem;
      outline: none;
      border: none;
      border-radius: 0.5rem;
      box-sizing: border-box;
      background-color: #242424;
      color: #fff;
      padding: 0 1em;
      font-weight: 500;
      font-size: 1rem;
    }
  }

}