@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #8ed5ff;
  --text-color: #fff;
  --bg-color: #040404;
}

html {
  box-sizing: border-box;
  font-size: 17px;

  @media screen and (max-width:991px) {
      font-size: 14px;
  } 
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  font-size: 17px;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width:1024px) {
      width: 100%;
      max-width: 80%;
  }

  @media screen and (max-width:1024px) {
      max-width: 90%;
  }
}